{
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-jsdoc"
  ],
  "jsdocSpaces": 1,
  "jsdocDescriptionWithDot": false,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "jsdocVerticalAlignment": false
      }
    }
  ]
}
